div {
    /* position:absolute; */
	width: 100%;
	height: 100%;
    background-color:#000;
}

circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}
